.homePage{
    background-color: #A7E1DE;
}

.filterDIV{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.imgBox {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}