
.homePage{
    background-color: #A7E1DE;
}

.filterDIV{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.imgBox {
    max-width: 100%;
    min-height: 630px;
    margin: 0 auto;
}

.zoomImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}