@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Lora&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Roboto+Slab:wght@100&display=swap');

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.removeBtn{
  margin: 20px 50px 20px 0px;
}

text.p {
  font-weight:bolder;
}

.textOfPtag{
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px
}

.item button {
  margin-top: 20px;
}

.favoriteItem {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favoriteItem p {
  font-weight: normal;
  font-family: "Roboto","Helvetica","Arial",sans-serif
}

.favoriteItem button {
  border: none;
  background-color: none;
  width: 5%;
  font-size: 18px;
  cursor: pointer;
}

.favoriteItemImg {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.favoriteItemImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}