::-webkit-input-placeholder{color: rgba(255, 255, 255, 0.733);}




.registrationMain{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registrationForm{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.formMainDIV {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registrationForm input{
    border: none;
    width: 250px;
    height: 30px;
    outline: 0;
    border-radius: 10px;
    text-indent: 15px;
    background-color: rgb(0, 0, 0);
    color: #a7e1de;
}
.regSubmit{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #a7e1de;
    border: none;
    cursor: pointer;
}
.registrationDiv{
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    align-items: center;
    font-size: 24px;
    margin: 0 auto;
}

.registrationDiv p{
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
}
.registrationDiv label{
    display: flex;
    flex-direction: column;
}

.registrationImage{
    height: 100%;
    width: 50%;
    display: flex;
    object-fit: cover;
} 

.registrationImage img{ 
    width: 100%;
    height: 100%;
    object-fit:revert;
    
 } 

.registrationSucces {
    width: 40%;
    margin: 13px auto;
} 
.css-acap47-MuiAlert-message {
    font-size: 26px;
}
.css-acap47-MuiAlert-message{
    font-size: 16px;
    color: #a03a38
}
