@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Lora&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Roboto+Slab:wght@100&display=swap');

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emptyBasket{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emptyBasket p {
    
    font-size: 16px;
}

.basketTitle{
    text-align: center;
}
.basketTitle h3{
    letter-spacing: 3px;
}

.basketItem {
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 10%;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    
    
}
.plusMinus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.basketItem button {
    border: none;
    background-color: none;
    width: 10%;
    font-size: 20px;
    cursor: pointer;
}

.basketItemImg {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    
    border-radius: 5px;
}

.basketItemImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.buyButton{
    border: none;
    background-color: none;
    font-size: 17px;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

