.filterMain{
    min-height: 85vh;
    max-width: 100vw;
    background-color: #A7E1DE;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.filterTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.filterDataMain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
    

.filterItems{
    width: 280px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.filterItems img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.dressDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100;
    height: 20px;
    border-radius: 10px;
    /* cursor: pointer; */
    /* background-color: rgb(243, 243, 243);/ */
}
