.main-container {
    display: flex;
    align-items: center;
    height: 150px;
    width: 450px;
}
.window{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
.all-PagesContanier {
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.arrow{
    cursor: pointer;
}