.mainContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width:  100%;
}
.window{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
.allPagesContanier {
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.arrow{
    cursor: pointer;
}