@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Lora&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.headerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a7e1de;
  height: 70px;
  padding: 0 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  font-family: 'Open Sans', sans-serif;
  padding: 0 70px;
}

.siteName {
  min-width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    right: 17px;
    top: 5px;
}
.form {
  position: relative;
}

.submitBtn{
    border: none;
    background: none;
    cursor:pointer;
}

.submit img {
    width: 22px;
}

.loginAndRegister{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.loginAndRegister label {
  margin: 0 5px;
}

.search {
  position:relative;
  border: none;
  width: 221px;
  height: 30px;
  background-color: #fff;
  border-radius: 50px 50px;
  z-index:2;
  padding: 0 10px;
  margin: 0 10px;
}

.navHeader {
  display: flex;
  gap: 1rem;
}

.betweenLogin {
  display: flex;
  align-items: center;
  width: 7vw;
}

.basketTrue {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.divBasket {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 2px;
}
.loginBasket {
  width: 48px !important;
  height: 48px !important;
  font-weight: 600;
  font-size: 18px;
}
.loginBasket label {
  cursor: pointer;
}

.logoBasket {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spanLogin {
  font-size: 17px;
}

.logOut {
  padding: 0;
  border: none;
  background: none;
  height: 5vh;
  cursor: pointer;
  /* font-size: 16px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 17px;
}

.logoContainer {
  width: 10vw;
  height: 10vh;
  display: flex;
  justify-content: start;
  align-items: start;
  cursor: pointer;
}

.logo {
  border: 2px solid rgb(0, 0, 0);
  width: 6vw ;
  height: 10vh ;
  border-radius: 0px 0px 5px 5px;
}

.logoAndLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.registerInput {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .loginAndRegister {
    font-size: 15px;
  }
  .search {
    width: 200px;
    height: 28px;
  }
  .submit {
    top:1px;
  }
  .submit img {
    width: 17px;
    height: 17px;
  }
}

@media only screen and (max-width: 1200px) {
  .loginAndRegister {
    font-size: 13px;
}
  .search {
    width: 200px;
    height: 28px;
  }
  .submit {
    top:1px;
  }
  .submit img {
    width: 17px;
    height: 17px;
  }
}