
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    margin-left: 5px;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}