.bgColorBlue {
    background-color: #A7E1DE;
}
.manItemContainer {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 0 20%;
}
.manTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.manTitleContainer span {
    margin: 40px 0;
}
.manItem {
    display: inline-block;
    width: 30%;
    flex-shrink: 0; 
    height: 60vh;
    margin: 0 5px 30px 5px;
}
.iconItem {
    cursor: pointer;
}

.manItem img {
    width: 275px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.manDetails {
    /*background-color: #fff;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
