@import url("https://fonts.googleapis.com/css2?family=Corinthia&family=Lora&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Roboto+Slab:wght@100&display=swap");

.container {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.form {
  width: 100%;
    margin: 0 auto;
    text-align: left;
}

.formDiv{
  width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginDiv{
  width: 50%;
  height: 50vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  align-items: center;
  font-size: 24px;
  margin: 0 auto;
}

.loginDiv p {
  margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
}

.loginDiv input {
  border: none;
    width: 250px;
    height: 30px;
    outline: 0;
    border-radius: 10px;
    text-indent: 15px;
    background-color: rgb(0, 0, 0);
    color: #a7e1de;
}

.loginDiv image {
  display: flex;
    flex-direction: column;
}

.loginImage {
  height: 100%;
    width: 50%;
    display: flex;
    object-fit: cover;
}

.loginImage img {
  width: 100%;
    height: 100%;
    object-fit: revert;
}

.checkbox {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkbox input{
  width: 20px;
  padding-right: 5px;
}

.checkbox span {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.remember {
  letter-spacing: 1px;
}

.label {
  display: flex;
  flex-flow: column;
}

.loginBtn {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #a7e1de;
  border: none;
  cursor: pointer;
}

